@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html, body {
  font-family: 'Inter', sans-serif;
}
body {
  background-color: white;
}
/* Initialize the counter */
.counter-reset {
  counter-reset: list-counter;
}

/* Increment the counter */
.counter-increment {
  counter-increment: list-counter;
}

/* Use the ::before pseudo-element to display the counter */
.counter-increment .counter::before {
  content: counter(list-counter) '. ';
  color: #cbd5e1; /* Slate-300 color */
  margin-right: 0.5rem; /* Adjust spacing as needed */
  /* Ensure counters do not interfere with clickability */
  pointer-events: none;
}

